# Ignore backend node_modules

backend/node_modules/
# Ignore frontend node_modules
frontend/node_modules/

# Common node_modules ignore (if backend or frontend folder names change)
**/node_modules/

frontend/.env
backend/.env
frontend/key.pem
frontend/cert.pem
backend/key.pem
backend/cert.pem


backend/public/temp/*
!backend/public/temp/.gitkeep

